page-register-usuario {
    .register-buttons{         
        display: flex;
        flex-direction: column;                            
        align-content: center;
        align-items: center;        
    }
}
