page-home-propietario {
    .icon-lg {
        font-size: 50px;
    }
    .card-lg{
        padding: 0px;
        margin: 0px;
    }
    .home-icons{
        color: "secondary";
        height: 100%;  
        width: 100%;  
    }
}
